# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
Procfile text eol=lf

# Force mvnw and gradlew to always use LFs. This is a temporary workaround.
mvnw text eol=lf
gradlew text eol=lf
